.container {
    max-width: 600px;
    background: #fff;
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0);
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid #e4e1e1;
    margin-top: 50px;
}

.add {
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #8bc34a;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add:hover {
    background-color: #5b9717;
}

.flex {
    display: flex;
    gap: 1.5em;
    margin-bottom: 15px;
}

.delete {
    text-decoration: none;
    display: inline-block;
    background: #f44336;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    width: 30px;
    height: 30px;
    color: #fff;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete:hover {
    background-color: #d32f2f;
}

input {
    padding: 8px 10px;
    background: #ddd;
    border: none;
    width: 50%;
    border-radius: 5px;
}

input:focus {
    outline: 1px solid #efefef;
}

select {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;
}

p {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.centerdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submitbtn {
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.errormessage {
    color: red;
    margin-top: 5px;
    font-size: 0.9em;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3; /* Light grey background */
    border-top: 5px solid #3498db; /* Blue color for the spinning part */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fetchingText {
    margin-top: 10px;
    font-size: 1em;
    color: #555;
}

.instructions {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}